/* 设置类名为'pages'的元素的样式，用于分页区域 */
.pages {
    padding: 10px 0; /* 上下内边距为10像素，左右为0 */
    text-align: center; /* 文本居中对齐 */
}

/* 设置类名为'pages'下的<ul>元素的样式 */
.pages ul {
    padding: 0; /* 无内边距 */
    list-style-type: none; /* 无列表符号 */
    display: flex; /* 使用弹性盒模型 */
    justify-content: center; /* 项居中对齐 */
    gap: 30px; /* 项之间的间隔为30像素 */
}

/* 设置类名为'pages'下的<li>元素的字体大小 */
.pages li {
    font-size: 20px; /* 字体大小为20像素 */
}

/* 设置类名为'pages'下的<li>元素内<a>元素的默认样式 */
.pages li a {
    color: black; /* 文本颜色为黑色 */
    transition: color 0.3s; /* 颜色变化时的过渡效果，持续0.3秒 */
    /* 平滑过渡效果 */
}

/* 设置类名为'pages'下的<li>元素内<a>元素在鼠标悬停时的样式，以及类名为'active-link'的元素的样式 */
.pages li a:hover,
.active-link {
    color: #c1a57b; /* 文本颜色改变 */
    border-bottom: 2px solid #c1a57b; /* 下边框为2像素的实线，颜色与文本相同 */
    /* 鼠标悬停时下划线效果 */
}
